@import url("normalize.css");

.heater ol{
	background-color:yellow;
}
ul{
	float:left;
}
p{
	font-family: Serif;
	word-spacing:2px;
	letter-spacing:2px;
	color:#04042E;
}
a:hover{
	color:green;
}
/*a:visited{
	color:red;*/
}
.caption{
    display:table-caption;
    text-align:center;
	caption-side:bottom;:w

}

a{
	text-decoration:none;
}
.figcaption{
    display:block;
    position: bottom;
}
body{
    background-image:url("../photo/b2.jpg");
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: cover;
	/*background: -webkit-linear-gradient(90deg, rgb(35, 109, 102), rgb(100, 170, 89));
	background: linear-gradient(90deg, rgb(35, 109, 102), rgb(100, 170, 89));*/
	width: 90%;
	margin: auto;
}
.type{
    display:block;
	width:50%;
}
.people{
	float:left;
	width:200px;
}
.people img{
	width:100%;
}
.preamble{
    display:block;
	float: right;
}
.mars{
	float:right;
	width:200px;
}
.mars img{
    width:100%;
}

}
.story {
	margin-bottom:50px;
}
.story img{
	display:block;
	float:left;
}
.Farmer{
	float:left;
	width:200px;
	margin:none;
}
.Farmer img{
	width:100%;
}



blockquote{

	width:45%;
	margin: auto;
	margin-top:50px;
	padding:30px;
	font-size:160%;
	background-color:#D1CCC7; 
    border-left: inset 3px;
    border-color: Firebrick;
}
blockquote p{
    border-left:Firebrick 3px;
}
.villageois{
	border-block-start-color:unset;
	border-left:inset 2px;
	border-color:red;
}
.agriculteur{
	border-block-start-color:unset;
	border-left:inset 2px;
	border-color: yellow;
}
.good{
	color: green;
	text-transform:capitalize;
}
.b{
	background-image:url("../photo/bien.png");
	background-repeat:no-repeat;
	background-size:18px;
	padding-right:15px;
	background-position:right;
}
.bad{
	color: red;
	text-transform:capitalize;
}
.m{
	background-image:url("../photo/mal.png");
	background-repeat:no-repeat;
	background-size: 15px;
	padding-right:15px;
	background-position:right;
}
.c{
	background-image:url("../photo/chat.png");
	background-repeat:no-repeat;
	background-size:18px;
	background-position:right;
}
.un{
	background-color:grey;
}
.deux{
	background-color:white;
}
h3{
	font-family: 'Livvic', sans-serif;
}
h2{
	font-family: 'Livvic', sans-serif;
}
h1{
	font-family: 'Livvic', sans-serif;
}
