.heater ol{
	width:25%;
	background-color:yellow;
}
ul{
	float:left;
}
p{
	font-family: Serif;
	word-spacing:2px;
	letter-spacing:2px;
	color:#424045;
}
a:hover{
	color:green;
}
a:visited{
	color:red;
}
.caption{
    display:table-caption;
    text-align:center;
}

a{
	text-decoration:none;
}
.figcaption{
    display:block;
    position: bottom;
}
body{
    background-image:url(photo/b2.jpg);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: cover;
	/*background: -webkit-linear-gradient(90deg, rgb(35, 109, 102), rgb(100, 170, 89));
	background: linear-gradient(90deg, rgb(35, 109, 102), rgb(100, 170, 89));*/
	width: 90%;
	margin: auto;
}
.type{
    display:inline-flex;
    position:relative;
}
.preamble{
    display:inline-flex;
	position:relative;
}
.preamble img{
    position:right;
    float:right;
    width:300px;
    height:300px;
}
.type img{
    width:300px;
    height:300px;
}
.story{
    float:left;
}
.story img{
	position:relative;
	float:left;
	width:300px;
	height:300px;
}
.Farmer img{
	position:relative;
	float:left;
	width:300px;
	height:30px;
}



blockquote{
	width:45%;
	margin: auto;
	padding:30px;
	font-size:160%;
	background-color:#D1CCC7; 
    border-block-start-color:unset;
    border-left: inset 3px;
    border-color: Firebrick;

}
blockquote p{
    border-left:Firebrick;
    border: 3px;
}
.villageois{
	border-block-start-color:unset;
	border-left:inset 2px;
	border-color:red;
}
.agriculteur{
	border-block-start-color:unset;
	border-left:inset 2px;
	border-color: yellow;
}
.good{
	color: green;
	text-transform:capitalize;
}
.b{
	background-image:url("photo/bien.png");
	background-repeat:no-repeat;
	background-size:18px;
	padding-right:15px;
	background-position:right;
}
.bad{
	color: red;
	text-transform:capitalize;
}
.m{
	background-image:url("photo/mal.png");
	background-repeat:no-repeat;
	background-size: 15px;
	padding-right:15px;
	background-position:right;
}
.c{
	background-image:url("photo/chat.png");
	background-repeat:no-repeat;
	background-size:18px;
	background-position:right;
}
.un{
	background-color:grey;
}
.deux{
	background-color:white;
}
